<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input v-model="query" type="text">
        <p>{{query}}</p>
        <div v-for="text in array">
            <div v-if="text.name.includes(query)">
                <p>{{text.name}}</p>
                <p>{{text.id}}</p>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                query: '',
                array: [
                    {
                        name: 'googasdfle',
                        id: '123412341234',
                    },
                    {
                        name: 'google',
                        id: '1234123asdfasf41234',
                    },
                    {
                        name: 'google',
                        id: '123412341234',
                    },
                    {
                        name: 'google',
                        id: '123412341234',
                    },
                    {
                        name: 'google',
                        id: '123412341234',
                    },
                ]
            }
        })
    </script>
</body>

</html>